<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-3 box">
      <div class="form-login">
        <h1>Sign Up</h1>
        <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
          <div class="error_messages alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Form is invalid</strong>
            <ul>
              <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

      <div class="field">
        <%= f.text_field :email, placeholder: "email", class: "form-control input-sm chat-input" %>
      </div><br>
      <div class="field">
        <%= f.text_field :username, placeholder: "username", class: "form-control input-sm chat-input" %>
      </div><br>
      <div class="field">
        <%= f.password_field :password, placeholder: "password", class: "form-control input-sm chat-input" %>
      </div><br>
      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "password confirmation", class: "form-control input-sm chat-input" %>
      </div><br>
      <div class="field">
        <%= f.text_field :bio, placeholder: "short bio", class: "form-control input-sm chat-input" %>
      </div><br>
      <div class="field">
        <label for= "avatar">Please Upload a Profile Picture</label>
        <%= f.file_field :avatar, placeholder: 'Image', class: "form-control input-sm chat-input" %>
      </div><br>
      <div class="wrapper">
        <div class="actions">
          <span class="group-btn"> <%= f.submit "Create", class:"btn btn-primary btn-md" %>
            <i class="fa fa-sign-in"></i>
          </span>
          <span class="group-btn"> <%= link_to 'Back to Login', login_path, class:"btn btn-primary btn-md" %>
            <i class="fa fa-sign-in"></i>
          </span>
        </div>
      </div>
    <% end %>`
