<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <div class="form-login">
        <h3>Sign Up</h3>
        <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
      <div class="field">
        <%= f.text_field :email, placeholder: "email", class: "form-control input-sm chat-input" %>
      </div><br>
      <div class="field">
        <%= f.text_field :username, placeholder: "username", class: "form-control input-sm chat-input" %>
      </div><br>
      <div class="field">
        <%= f.password_field :password, placeholder: "password", class: "form-control input-sm chat-input" %>
      </div><br>
      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "password confirmation", class: "form-control input-sm chat-input" %>
      </div><br>
      <div class="wrapper">
        <div class="actions">
          <span class="group-btn"> <%= f.submit "Create User", class:"btn btn-primary btn-md" %>
            <i class="fa fa-sign-in"></i>
          </span>
        </div>
      </div>
    <% end %>`
