
<%= @current_user.email %>

<h1>Pictures</h1>


<% @pictures.each do |p| %>
  <a href="/pictures/<%=p.id%>"><img src="<%= p.url %>" alt="<%= p.location %>" /></a> <br>
      <%= p.user.username %> <br>
          Location: <%= p.location %> <br>
<%end%>



<div>
<%= link_to 'ADD A PICTURE', create_path %> <br>
</div>
