<% @pictures.each do |p| %>
<a href="/pictures/<%=p.id%>"><img class = "tinysize" src="<%= p.url %>" alt="<%= p.location %>" /></a> <br>
 <% if p.user.email %>
   Uploaded By: <%= p.user.username %> <br>
   <%else%>
     Uploaded By: <%= p.user.username %> <br>
 <%end%>
       City: <%= p.location %> <br>
<%end%>



<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="/">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
