<% @pictures.each do |p| %>
  <a href="/pictures/<%=p.id%>"><img class = "tinysize" src="<%= p.url %>" alt="<%= p.location %>" /></a> <br>
      Uploaded By: <%= p.user.username %> <br>
          City: <%= p.location %> <br>
<%end%>



<div>
<%= link_to 'ADD A PICTURE', create_path %> <br>
</div>
