<div class="page-header">
  <h1><%= @picture.location %></h1>
</div>


<div>
  Caption: <%= @picture[:summary] %> <br><br>
  <% if @picture.url != "" %>
      <a href="/"><img class = "fullsize" src="<%= @picture[:url] %>" alt="<%= @picture[:location] %>" /></a> <br>
  <%else%>
    <%= image_tag((@picture.image(:large)), :class => "fullsize") %>
  <%end%>

    <% if @current_user.email == @picture.user.email %>
      <div>
        <%= link_to 'Delete Picture', picture_path(@picture), method: :delete%>
        <%= link_to 'Edit Picture', edit_picture_path(@picture) %> <br>
      </div>
    <%end%>
  <small> Posted by <%= @picture.user.username %> on <%= @picture.date_published %><br> </small><br><br>
</div>



<div>
  <% @picture.comments.each do |comment| %>
    <ul class="list-group">
      <li class="list-group-item"><%= comment.body %> <br>
        <small>
          <% if comment.user %>
                Commented by: <%= comment.user.username %> on <%= comment.date_published %>
          <%else %>
                Anonymous User
          <%end%>
        </small>
      </li>
      <% if @current_user.id == comment.user.id %>
         <%= link_to "Delete Comment", {controller: "comments", action: "destroy",
           id: comment.id, picture_id: comment.picture_id}, method: :delete %>
         <%= link_to 'Update Comment', {controller: "comments", action: "edit",
           id: comment.id, picture_id: comment.picture_id} %> <br>
       <% end %>
    </ul>
  <%end%>
</div>

<%= render('comments/new') %>
