<div class="col-md-3"></div>
  <div class = "row box">
    <div class="col-md-6">
      <h1><%= @picture.location %></h1>

  <div class = "caption">
    <h4> Caption: <%= @picture[:summary] %> <h4>
    <% if @picture.url != "" %>
        <a href="/"><img class = "fullsize" src="<%= @picture[:url] %>" alt="<%= @picture[:location] %>" /></a> <br>
    <%else%>
      <%= image_tag((@picture.image(:large)), :class => "fullsize") %>
    <%end%>

    <small> Posted by <%= @picture.user.username %> on <%= @picture.date_published %><br> </small><br><br>

      <% if @current_user.email == @picture.user.email %>

      <div class="wrapper">
        <div class="actions">
          <span class="group-btn"><%= link_to 'Delete Picture', picture_path(@picture), method: :delete, data: { confirm: 'Are you sure?'}, class:"btn btn-danger btn-md" %>
          </span>
          <span class="group-btn "><%= link_to 'Edit Picture', edit_picture_path(@picture), class:"btn btn-primary btn-md" %> <br>
          </span>
        </div>
      </div>
      <%end%><br>

    <%= link_to like_picture_path(@picture), method: :put, class: "btn btn-default btn-sm", id: "thumbsup" do %>
      <span class="glyphicon glyphicon-thumbs-up"></span>
    <%= @picture.get_upvotes.size %>
    <% end %>
    <%= link_to dislike_picture_path(@picture), method: :put, class: "btn btn-default btn-sm", id: "thumbsdown" do %>
      <span class="glyphicon glyphicon-thumbs-down"></span>
    <%= @picture.get_downvotes.size %>
    <% end %>

  </div>



  <div>
    <% @picture.comments.each do |comment| %>
      <ul class="list-group">
        <li class="list-group-item"><%= comment.body %> <br>
          <small>
            <% if comment.user %>
                  Commented by: <%= comment.user.username %> <%= time_ago_in_words(comment.created_at) %> ago
            <%else %>
                  Anonymous User
            <%end%>
          </small>
        </li>
        <% if @current_user.id == comment.user.id %>
           <span class="group-btn"><%= link_to "Delete Comment", {controller: "comments", action: "destroy",
             id: comment.id, picture_id: comment.picture_id}, method: :delete, class:"btn btn-danger btn-md" %></span>
           <span class="group-btn"><%= link_to 'Update Comment', {controller: "comments", action: "edit",
             id: comment.id, picture_id: comment.picture_id}, class:"btn btn-primary btn-md" %> <br></span>
         <% end %>
      </ul>
    <%end%>
  </div>

  <%= render('comments/new') %>
</div>
</div>
</div>
<div class="col-md-3"></div>
