<h1> The Picture You Clicked on: </h1>

<h2> <%= @picture[:location]  %> </h2>

<div>
  <a href="/"><img class = "fullsize" src="<%= @picture[:url] %>" alt="<%= @picture[:location] %>" />
  </a> <br>
  <%= @picture[:summary]  %> <br>
  This was a post from: <%= @picture.user.username %>
</div>


<div>
  <%= link_to 'Delete Picture', delete_picture_path(@picture), method: :delete%>
</div>

<%= render('comments/new') %>
