<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <div class="form-login">
        <h3>Add A Picture</h3>
        <%= form_for Picture.new, html: { multipart: true }  do |p|  %>

        <div class="field">
          <%= p.file_field :image, placeholder: 'Picture', class: "form-control input-sm chat-input"%>
        </div><br>

          <div class="field">
            <%= p.text_field :url, placeholder: 'URL', class: "form-control input-sm chat-input"%>
          </div><br>
          <div class="field">
            <%= p.text_field :summary, placeholder: 'Leave a summary', class: "form-control input-sm chat-input"%>
          </div><br>
          <div class="field">
            <%= p.text_field :location, placeholder: 'City', class: "form-control input-sm chat-input"%>
          </div><br>
          <div class="wrapper">
            <div class="actions">
              <span class="group-btn"><%= p.submit 'Submit', class:"btn btn-primary btn-md"  %>
              <i class="fa fa-sign-in"></i>
              </span>
          </div>
        <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
