<!DOCTYPE html>
<html>
<head>
  <title>Art3App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img class = "TinyPic" alt="Brand" src= "http://orig07.deviantart.net/efe6/f/2008/139/7/8/spray_can_stencil_by_avahk.jpg">
        </a>
          <% flash.each do |name, message| %>
            <div class="navbar-text flash-message flash-message-<%= name %>">
              <%= message %>
            </div>
          <% end %>
      </div>
      <% if current_user %>
       <img class = "navbar-text TinyPic" alt="Brand" src= <%= current_user.avatar %> >
       <p class="navbar-text"> Welcome: <%= current_user.email%> </p>
       <p class="navbar-text"><%=link_to 'Log Out', logout_path, method: :delete %> </p>
       <p class="navbar-text"><%= link_to 'Add A Picture', create_path %> <br>
       <p class="navbar-text"><%= link_to 'Edit User', edit_user_path(current_user) %> <br>
     <% end %>
    </div>
  </nav>

<div class = "container">
  <%= yield %>
</div>

</body>
</html>
